body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background: #21ba5e;
}

.search-box {
    margin: 20px;
}

input {
    padding: 8px;
    width: 200px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}

#weatherResult {
    margin-top: 20px;
    font-size: 18px;
}

#historyList {
    list-style: none;
    padding: 0;
}

#historyList li {
    cursor: pointer;
    color: rgb(58, 107, 134);
    margin: 5px;
}